In [1]:
import pandas as pd

In [2]:
dfNYC = pd.read_csv('NYCData_06.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
dfNYC.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [3]:
dfNYC.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-06-01 00:31:23,2020-06-01 00:49:58,1.0,3.6,1.0,N,140,68,1.0,15.5,3.0,0.5,4.00,0.0,0.3,23.30,2.5
1,1.0,2020-06-01 00:42:50,2020-06-01 01:04:33,1.0,5.6,1.0,N,79,226,1.0,19.5,3.0,0.5,2.00,0.0,0.3,25.30,2.5
2,1.0,2020-06-01 00:39:51,2020-06-01 00:49:09,1.0,2.3,1.0,N,238,116,2.0,10.0,0.5,0.5,0.00,0.0,0.3,11.30,0.0
3,1.0,2020-06-01 00:56:13,2020-06-01 01:11:38,1.0,5.3,1.0,N,141,116,2.0,17.5,3.0,0.5,0.00,0.0,0.3,21.30,2.5
4,1.0,2020-06-01 00:16:41,2020-06-01 00:29:30,1.0,4.4,1.0,N,186,75,1.0,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5

In [26]:
temp.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,d0ccf01b6f89718bf500d71be8f7b301a65ced73,00752524a4118a162dce62ff49c0eb0f79530d9e0ecb5a...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1680.0,23.30,NaN,NaN,NaN,NaN,...,6.0,61.75,Cash,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN
1,d40e84eda153f8487d028f4c864163d3c62f7095,96a96f52dbf30dc4376ecdb36a6bb955e242a3e2a281c1...,06/01/2020 12:15:00 AM,06/01/2020 12:30:00 AM,1148.0,11.31,NaN,NaN,4.0,76.0,...,0.0,29.25,Cash,Flash Cab,41.975171,-87.687516,POINT (-87.6875155152 41.9751709433),41.980264,-87.913625,POINT (-87.913624596 41.9802643146)
2,86dce3d62f92c9490622eb6692d412afb904885a,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,06/01/2020 12:15:00 AM,06/01/2020 12:30:00 AM,1380.0,10.00,NaN,NaN,2.0,NaN,...,0.0,27.50,Cash,Taxi Affiliation Services,42.001571,-87.695013,POINT (-87.6950125892 42.001571027),NaN,NaN,NaN
3,78735585b9e1333adad65ce4a8cde03a8998906c,2ff4fad54ffae9d505e55587c34111c2094a0a52873695...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1140.0,12.70,NaN,NaN,8.0,44.0,...,0.0,36.50,Credit Card,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.740206,-87.615970,POINT (-87.6159695226 41.7402057565)
4,7941371edae1625e135f160f9c8fa41393640f39,33d0b751a7c55e6c8ce21d8226710db0da56a644ed6d07...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1823.0,5.09,NaN,NaN,77.0,77.0,...,1.0,20.75,Cash,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)

In [25]:
dfNYC['VendorID'].value_counts()

2.0    298603
1.0    200440
Name: VendorID, dtype: int64

In [20]:
dfNYC.isnull().sum()

VendorID                 50717
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          50717
trip_distance                0
RatecodeID               50717
store_and_fwd_flag       50717
PULocationID                 0
DOLocationID                 0
payment_type             50717
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [4]:
dfNYC['TripTime'] = dfNYC['tpep_pickup_datetime']-dfNYC['tpep_dropoff_datetime']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
dfChicago = pd.read_csv('ChicagoData_06_09.csv')

In [10]:
temp = dfChicago.copy()

In [11]:
temp.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,d0ccf01b6f89718bf500d71be8f7b301a65ced73,00752524a4118a162dce62ff49c0eb0f79530d9e0ecb5a...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1680.0,23.30,NaN,NaN,NaN,NaN,...,6.0,61.75,Cash,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN
1,d40e84eda153f8487d028f4c864163d3c62f7095,96a96f52dbf30dc4376ecdb36a6bb955e242a3e2a281c1...,06/01/2020 12:15:00 AM,06/01/2020 12:30:00 AM,1148.0,11.31,NaN,NaN,4.0,76.0,...,0.0,29.25,Cash,Flash Cab,41.975171,-87.687516,POINT (-87.6875155152 41.9751709433),41.980264,-87.913625,POINT (-87.913624596 41.9802643146)
2,86dce3d62f92c9490622eb6692d412afb904885a,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,06/01/2020 12:15:00 AM,06/01/2020 12:30:00 AM,1380.0,10.00,NaN,NaN,2.0,NaN,...,0.0,27.50,Cash,Taxi Affiliation Services,42.001571,-87.695013,POINT (-87.6950125892 42.001571027),NaN,NaN,NaN
3,78735585b9e1333adad65ce4a8cde03a8998906c,2ff4fad54ffae9d505e55587c34111c2094a0a52873695...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1140.0,12.70,NaN,NaN,8.0,44.0,...,0.0,36.50,Credit Card,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.740206,-87.615970,POINT (-87.6159695226 41.7402057565)
4,7941371edae1625e135f160f9c8fa41393640f39,33d0b751a7c55e6c8ce21d8226710db0da56a644ed6d07...,06/01/2020 12:15:00 AM,06/01/2020 12:45:00 AM,1823.0,5.09,NaN,NaN,77.0,77.0,...,1.0,20.75,Cash,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)

In [13]:
temp['Dropoff Community Area'].isnull().sum()

59441

In [17]:
temp['Dropoff Community Area'].describe()

count    479719.00000
mean         25.13850
std          20.66974
min           1.00000
25%           8.00000
50%          24.00000
75%          33.00000
max          77.00000
Name: Dropoff Community Area, dtype: float64

In [ ]:
temp['Dropoff Community Area'].plot().bar()